<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT files ANY>
<!ATTLIST files id ID #REQUIRED>
<!ELEMENT folders ANY>
<!ATTLIST folders id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1115" key="286bf910-1455-41e2-888d-dc05a4fbc8a5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-07-14T14:04:32" updateDate="2016-07-14T14:04:32" nodeName="文件管理" urlName="文件管理" path="-1,1115" isDoc="" nodeType="1106" creatorName="zcs" writerName="zcs" writerID="0" template="1094" nodeTypeAlias="home">
    <files id="1116" key="ff3a0e5b-75d3-4f9a-bd23-a42cc39d9ad7" parentID="1115" level="2" creatorID="0" sortOrder="0" createDate="2016-07-14T14:05:00" updateDate="2016-07-14T14:05:00" nodeName="12" urlName="12" path="-1,1115,1116" isDoc="" nodeType="1104" creatorName="zcs" writerName="zcs" writerID="0" template="1078" nodeTypeAlias="files">
      <fileURL><![CDATA[1053]]></fileURL>
      <fileName><![CDATA[12]]></fileName>
    </files>
  </home>
</root>